<!--blog start -->
<section id="ostatnio-ogladane" class="blog">
  <div class="container">
    <div class="section-header">
      <h2><%= title %></h2>

    </div>
    <div style="width:100%; text-align:center; display: none;" id="wstecz">
        <form action="#" method="GET" role="search" type="search" style="width:100%; text-align:center;">
          <input type="number" style="display: none" name="offset" id="wstecz-offset">

          <button class="badge" style="font-size: 28px; padding: 10px 30px; margin: 20px" @click="return q.value"> Wstecz             </button>

          </form>
      </div>
    <!--/.section-header-->
    <div class="blog-content">
      <div class="row">
        <% recent.forEach(function(item) { %>

          <div class="col-sm-4">
            <div class="single-blog">
              <div class="single-blog-img">
                  <a href="/motocykl/<%= item.slug %>" <center>
                  <img src="<%= item.images[0] %>" alt="<%= item.manufactory %> <%= item.name %>" onerror="this.onerror=null;this.src='/assets/images/placeholder.png';" >
                  <div class="single-blog-img-overlay"></div>
                </center></a>

              </div>
              <div class="single-blog-txt">
                <h2><a href="/motocykl/<%= item.slug %>"><%= item.manufactory %>
                      <%= item.name %></a></h2>
                <h3>
                  <%= item.years[0] %> -
                    <%= item.years.length > 1 ? item.years[item.years.length -1] : null %>
                </h3>
                <p>

                </p>
              </div>
            </div>
          </div>
          <% }); %>


      </div>
    </div>
  </div>
  <!--/.container-->

</section>
<!--/.blog-->
<!--blog end -->
