<!doctype html>
<html class="no-js" lang="pl">

<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WSGFGXH"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
				<![endif]-->
	<%- include('../views/components/head.ejs', { title: "Katalog motocykli"}); -%>

	<%- include('../views/components/header.ejs'); -%>
		<br><br>

		<%- include('../views/components/cafels.ejs', { factories: factories }); -%>

		<%- include('../views/components/artCafels.ejs', { recent: recent, title: "Ostatnio oglądane" }); -%>

				<!-- Include all js compiled plugins (below), or include individual files as needed -->
    <%- include('../views/components/footer.ejs'); -%>

				<script src="assets/js/jquery.js"></script>

				<!--modernizr.min.js-->
				<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

				<!--bootstrap.min.js-->
				<script src="assets/js/bootstrap.min.js"></script>

				<!-- bootsnav js -->
				<script src="assets/js/bootsnav.js"></script>

				<!--owl.carousel.js-->
				<script src="assets/js/owl.carousel.min.js"></script>


				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


				<!--Custom JS-->
				<script src="assets/js/custom.js"></script>

</body>

</html>
