<!doctype html>
<html class="no-js" lang="pl">
	<%- include('../views/components/head.ejs', { title: moto.manufactory + ' ' + moto.name } ); -%>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <%- include('../views/components/header.ejs'); -%>
    <div class="container">

      <div style="height:160px"></div>
        <h1 style="text-align: center; margin: 20px;">
          <%- moto.manufactory -%>
            <%- moto.name -%>
        </h1>
        <p style="float: left;"><img style="padding: 10px;margin-right: 20px;; max-width: 50vh;" src="<%- moto.images[0] -%>"/></p>

         <p> <%- moto.description -%></p>

        <br><br>
        <h2 style="width: fit-content;">Dane techniczne: </h2>
        <br>
        <center>
        <div style="max-width: 1000px;">
          <% moto.specs.forEach(function(item) { %>
            <div style="display: flex;">
              <div
                style="color: #e99c2e; width:50%; border: 1px outset #f7f7f7; text-align: right; padding: 10px; background-color: rgba(211, 211, 211, 0.24);">
                <%- item[0] -%>
              </div>
              <div
                style="text-transform: none; color:#616060; width:50%; border: 1px outset #f7f7f7; text-align: left; padding: 10px; background-color: rgba(211, 211, 211, 0.123);">
                <%- item[1] -%>
              </div>
            </div>
            <% }); %>
        </div>
      </center>
        <br>
        <%- include('../views/components/footer.ejs'); -%>

  </div>
  <!-- Include all js compiled plugins (below), or include individual files as needed -->

  <script src="/assets/js/jquery.js"></script>

  <!--modernizr.min.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!--bootstrap.min.js-->
  <script src="/assets/js/bootstrap.min.js"></script>

  <!-- bootsnav js -->
  <script src="/assets/js/bootsnav.js"></script>

  <!--owl.carousel.js-->
  <script src="/assets/js/owl.carousel.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


  <!--Custom JS-->
  <script src="/assets/js/custom.js"></script>

</body>

</html>
