<!doctype html>
<html class="no-js" lang="pl">

<head>
  <!-- meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!--font-family-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
    rel="stylesheet">

  <!-- title of site -->
  <title>
    <%- moto.Manufactory -%>
      <%- moto.Name -%>
  </title>

  <!-- For favicon png -->
  <link rel="shortcut icon" type="image/icon" href="/assets/logo/favicon.png" />

  <!--font-awesome.min.css-->
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

  <!--linear icon css-->
  <link rel="stylesheet" href="/assets/css/linearicons.css">

  <!--animate.css-->
  <link rel="stylesheet" href="/assets/css/animate.css">

  <!--owl.carousel.css-->
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

  <!--bootstrap.min.css-->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <!-- bootsnav -->
  <link rel="stylesheet" href="/assets/css/bootsnav.css">

  <!--style.css-->
  <link rel="stylesheet" href="/assets/css/style.css">

  <!--responsive.css-->
  <link rel="stylesheet" href="/assets/css/responsive.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

  <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XEQTHETPX9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XEQTHETPX9');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6686089655961735"
crossorigin="anonymous"></script>
</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <%- include('../views/components/header.ejs'); -%>
    <div class="container">

      <div style="height:160px"></div>
        <h1 style="text-align: center; margin: 20px;">
          <%- moto.manufactory -%>
            <%- moto.name -%>
        </h1>
        <p style="float: left;"><img style="padding: 10px;margin-right: 20px;; max-width: 50vh;" src="<%- moto.images[0] -%>"/></p>

         <p> <%- moto.description -%></p>

        <br><br>
        <h2 style="width: fit-content;">Dane techniczne: </h2>
        <br>
        <center>
        <div style="max-width: 1000px;">
          <% moto.specs.forEach(function(item) { %>
            <div style="display: flex;">
              <div
                style="color: #e99c2e; width:50%; border: 1px outset #f7f7f7; text-align: right; padding: 10px; background-color: rgba(211, 211, 211, 0.24);">
                <%- item[0] -%>
              </div>
              <div
                style="text-transform: none; color:#616060; width:50%; border: 1px outset #f7f7f7; text-align: left; padding: 10px; background-color: rgba(211, 211, 211, 0.123);">
                <%- item[1] -%>
              </div>
            </div>
            <% }); %>
        </div>
      </center>
        <br>
        <%- include('../views/components/footer.ejs'); -%>

  </div>
  <!-- Include all js compiled plugins (below), or include individual files as needed -->

  <script src="/assets/js/jquery.js"></script>

  <!--modernizr.min.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!--bootstrap.min.js-->
  <script src="/assets/js/bootstrap.min.js"></script>

  <!-- bootsnav js -->
  <script src="/assets/js/bootsnav.js"></script>

  <!--owl.carousel.js-->
  <script src="/assets/js/owl.carousel.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


  <!--Custom JS-->
  <script src="/assets/js/custom.js"></script>

</body>

</html>
